<div class='col-md-6'>
  <h2 class="subtitle">sign up</h2>
  <!-- Form for sign-up fields -->
  <form class='form signup-form'>
    <div class='field'>
      <!-- Label for the username field -->
      <label for='username-signup' class='form-label label'>username</label>
      <div class='control'>
        <!-- Input field for the username -->
        <input id='username-signup' class='input form-control is-link' type='text' placeholder='friedchicken' />
      </div>
    </div>
    <div class='field'>
      <!-- Label for the password field -->
      <label for='password-signup' class='form-label label'>password</label>
      <div class='control'>
        <!-- Input field for the password -->
        <input id='password-signup' class='form-control input is-link' type='password'
          placeholder='super secret secret (must be 8 characters+)' />
      </div>
    </div>
    <div class='buttons is-right'>
      <!-- Button to redirect to the login page -->
      <a href='/login' class='button is-rounded is-outlined is-link' id='btnhover' role='button'>TAKE ME TO SIGN IN</a>
      <!-- Button to submit the sign-up form -->
      <button type='submit' class='button is-rounded is-link'>SIGN UP</button>
    </div>
  </form>
</div>

<!-- Script file for handling sign-up functionality -->
<script src='/js/signup.js'></script>