<div class='col-md-6'>
  <h2 class="subtitle">sign up</h2>
  {{! This form holds all of the sign up fields }}
  <form class='form signup-form'>
    <div class='field'>
      <label for='username-signup' class='form-label label'>username</label>
      <div class='control'>
        <input id='username-signup' class='input form-control is-link' type='text' placeholder='friedchicken' />
      </div>
    </div>
    <div class='field'>
      <label for='password-signup' class='form-label label'>password</label>
      <div class='control'><input id='password-signup' class='form-control input is-link' type='password'
          placeholder='super secret secret (must be 8 characters+)' /></div>
    </div>
    <div class='buttons is-right'>
      {{! This button redirects the user to the login page }}
      <a href='/login' class='button is-rounded is-outlined is-link' id='btnhover' role='button'>TAKE ME TO SIGN IN</a>
      <button type='submit' class='button is-rounded is-link'>SIGN UP</button>
    </div>
  </form>
  <div class='notification-container'></div>
</div>

<script src='/js/signup.js'></script>